@model WebUI.ViewModels.BuscarViewModel

@using WebUI.Utilities;
@using WebUI.Entities;
@{
    Usuario usuario = (Usuario)Session[Constantes.KeyCurrentUser];
}
<header>
    <nav class="navbar navbar-expand-md navbar-light container">
        @Html.ActionLink("Mandame Fruta", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar5">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbar5">
            @using (Html.BeginForm("Buscar", "Buscador", FormMethod.Get, new { @class = "mx-2 my-auto d-inline w-100" }))
            {
                @Html.EditorFor(model => model.Posicion)
                <div class="input-group">
                    @Html.EditorFor(model => model.Variedad, new { htmlAttributes = new { @class = "form-control typeahead", id = "buscar", placeholder = "Buscar fruta", autocomplete = "off", required = "true", type = "search" } })
                    @Html.ValidationMessage("variedad", "", new { @class = "text-danger" })
                    <input type="submit" value="Buscar" class="btn btn-primary" />
                </div>
            }
            <ul class=" nav navbar-nav ml-auto mt-2 mt-lg-0">
                @if (Session[Constantes.KeyCurrentUser] == null)
                {
                    <li>
                        <a href="javascript:Login.mostrarModalLogin('@Url.Action("MostrarModalLogin","Home")');">
                            Ingresar
                        </a>
                    </li>
                }
                else
                {
                    <li class="nav-item dropdown ml-auto">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">@usuario.Nombre</a>
                        <div class="dropdown-menu" id="dropdown-user-menu">
                            @Html.ActionLink("Mi Perfil", "Detalle", "Usuario", new { area = "Dashboard" }, new { @class = "dropdown-item" })
                            @Html.ActionLink("Mis Árboles", "Lista", "Arbol", new { area = "Dashboard" }, new { @class = "dropdown-item" })
                            @Html.ActionLink("Mis Pedidos", "Recibidos", "Pedido", new { area = "Dashboard" }, new { @class = "dropdown-item" })
                            <div class="dropdown-divider"></div>
                            @Html.ActionLink("Cerrar sesión", "CerrarSesion", "Home", new { area = "" }, new { @class = "dropdown-item" })
                        </div>
                    </li>
                }
            </ul>

        </div>
    </nav>
</header>